

$color-primary-0: #0C2F00;	// Main Primary color */
$color-primary-1: #7ED248;
$color-primary-2: #3B7300;

$color-secondary-1-0: #874B20;	// Main Secondary color (1) */
$color-secondary-1-1: #2E1200;

$color-secondary-2-0: #4D8E0D;	// Main Secondary color (2) */
$color-secondary-2-1: #A35DC1;



